body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c2c2d6;
}

.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  .formulaScreen {
    min-height: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: orange;
    text-align: right;
    vertical-align: text-top;
    line-height: 20px;
    word-wrap: break-word;
  }
  .outputSreen {
    font-size: 29px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: right;
    line-height: 35px;
  }
  button {
    height: 65px;
    color: white;
    outline: 1px solid black;
    border: none;
    background: #4d4d4d;
    font-family: Share Tech Mono, monospace;
    font-size: 20px;
    cursor: default;
    &:hover {
      color: black;
      outline: 0.05em solid grey;
      z-index: 3;
    }
  }
}
